<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ユーザ管理システム</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script language="javascript">
function login() {
	document.frm.method = "GET";
	document.frm.action = "/";
	document.frm.submit();
}
function user_list() {
	document.frm.method = "GET";
	document.frm.action = "/user_list";
	document.frm.submit();
}
</script>
</head>
<body style="font-family:'メイリオ',Meiryo;">
 
<link href="/static/css/common.css" rel="stylesheet">
<link href="/static/css/signin.css" rel="stylesheet">

<div class="div-header">
<b><font size="5" color="#ffffff">ユーザ管理システム</font></b>
</div>
<div class="div-breadcrumb">
  <form name="frm">
  <div class="div-breadcrumb-left">
    <a href="/menu"><font size="3" color="#ffffff">メニュー</font></a>
  </div>
  <div class="div-breadcrumb-right">
    <font size="3" color="#ffffff">利用者:{{.user}}&nbsp;&nbsp;&nbsp;&nbsp;</font>
    <a href="/logout"><font size="3" color="#ffffff">ログアウト</font></a>
  </div>
  <form>
</div>
<br /><br />

<div class="container" style="width:800px;">
  <div id="message" style="height:40px;font-size:20px;color:#5f89cc;font-weight:bold;"></div>
  
    <div class = "panel panel-default">
       <div class = "panel-body">
          <font size="5">管理メニュー</font>
          <a href="#" class="btn btn-lg btn-primary btn-block" onclick="user_list()">ユーザリスト</a>
       </div>
    </div>
</div>

<div class="div-footer"></div>
</body>
</html>
