<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ユーザ管理システム</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/common.css" rel="stylesheet">
<link href="/static/css/signin.css" rel="stylesheet">
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script language="javascript">
function menu() {
	document.frm.method = "POST";
	document.frm.action = "/menu";
	document.frm.submit();
}
function user_add() {
	document.frm.method = "POST";
	document.frm.action = "/user_add";
	document.frm.submit();
}
function user_upd(user_id) {
	document.frm.method = "POST";
	document.frm.action = "/user_upd";
	document.frm.user_id.value = user_id;
	document.frm.submit();
}
function user_del(user_id) {
	if(confirm("削除してもよろしいですか？") == false) {
		return false;
	}
	document.frm.method = "POST";
	document.frm.action = "/user_del";
	document.frm.user_id.value = user_id;
	document.frm.submit();
}
</script>
</head>
<body style="font-family:'メイリオ',Meiryo;">
<form name="frm">
<div class="div-header">
	<b><font size="5" color="#ffffff">ユーザ管理システム</font></b>
</div>

<div class="div-breadcrumb">
	<div class="div-breadcrumb-left">
		<a href="#" onclick="menu()"><font size="3" color="#ffffff">メニュー</font></a>
		<font size="3" color="#ffffff">&gt;</font>
		<font size="3" color="#ffffff">ユーザ一覧</font>
	</div>
	<div class="div-breadcrumb-right">
		<font size="3" color="#ffffff">利用者:{{.user}}&nbsp;&nbsp;&nbsp;&nbsp;</font>
		<a href="/logout"><font size="3" color="#ffffff">ログアウト</font></a>
	</div>
</div>
<br /><br />

<div class="container" style="width:900px;">
	<div style="height:30px;padding:0px 0px 0px 10px;color:#ff0000;font-size:16px;" align="left">
		{{.message}}
	</div>
	<a href="#" class="btn btn-sm btn-primary btn-block" onclick="user_add()">ユーザ新規登録</a>
	<br />
	<div class="panel panel-default">
  		<table class="table table-bordered">
			<tr class="active">
				<th>No</th>
				<th>USERID</th>
		        <th>姓</th>
				<th>名</th>
		        <th>生年月日</th>
				<th>血液型</th>
				<th>顔写真</th>
        		<th colspan="2"></th>
			</tr>
			{{range $i, $v := .list}}
			<tr>
				<td>{{$i}}</td>
				<td>{{$v.user_id}}</td>
		        <td>{{$v.sei}}</td>
        		<td>{{$v.mei}}</td>
		        <td>{{$v.seinengappi}}</td>
				<td>{{$v.ketsuekigata}}</td>
				<td align="center"><img height="60px" src="/face_image/{{.face_image_file_name}}"></td>
		        <td width="70px" align="center"><a href="#" class="btn btn-sm btn-primary btn-block" style="width:50px;" onclick="user_upd('{{$v.user_id}}')">編集</a></td>
		        <td width="70px" align="center"><a href="#" class="btn btn-sm btn-warning btn-block" style="width:50px;" onclick="user_del('{{$v.user_id}}')">削除</a></td>
			</tr>
			{{end}}
		</table>
	</div>
</div>

<div class="div-footer"></div>

<input type="hidden" id="user_id" name="user_id">
</form>

</body>
</html>
